.container {
  position: relative;
  min-height: 100vh;
}

.alfonso-image {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  pointer-events: none; 
  animation: moveAround 5s infinite alternate ease-in-out;
}

.alfonso-image img {
  width: 600px; 
  height: auto;
}


@keyframes moveAround {
  0% { transform: translate(-50%, -50%) translateX(-100px) translateY(-50px); }
  25% { transform: translate(-50%, -50%) translateX(120px) translateY(30px); }
  50% { transform: translate(-50%, -50%) translateX(-150px) translateY(-40px); }
  75% { transform: translate(-50%, -50%) translateX(150px) translateY(50px); }
  100% { transform: translate(-50%, -50%) translateX(-100px) translateY(-50px); }
}
